.contact-info {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    margin: 20px 0;
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
  }
  button {
    padding: 15px 38px;
    background: black;
    color: white;
    &:hover {
      cursor: pointer;
      background: #c7c3c3;
      color: rgb(236, 235, 235);
    }
  }
}
